.content-center
  %img{:src => "/images/logo.png", :alt => "SongDeck", :title => "SongDeck"}
  %h1 Listen to and organize any music, for free.
  %h2 Find and stream music from YouTube, create playlists, and access your music from any computer or smartphone.
