!!! 5
%meta{:charset => "utf-8"}
%title SongDeck
%link{:rel => "stylesheet", :href => "/assets/application.css"}
%link{:rel => "shortcut icon", :href => "/images/favicon.png"}
= yield_content :custom_head
%body
  #content= yield
  %script{:src => "/assets/application.js"}
