!!! 5
%head
  %meta{:charset => "utf-8"}
  %title Hello
  %link{:rel => "stylesheet", :href => "/assets/application.css"}
  %script{:src => "/assets/application.js"}
  %script{:src => "/jst.js"}
  = yield_content :custom_head
%body= yield
