@import "bootstrap/mixins";

body {
  background: #fff;
}

$header-height: 88px;
$btn-state-dim: 68px;
$btn-seek-dim: 52px;
$sidebar-width: 220px;

header {
  margin-left: $sidebar-width + 1;
  @include box-shadow;
  @include gradientBar(#eee, #ddd);
  height: $header-height; // todo get rid of this, use line-height/padding
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $sidebar-width;
  background: #f1f7ff;
  border-right: 1px solid #e1e7ea;
  .btn-control-wrap-wrap {
    @include gradientBar(#fff, #f5f5f5);
    @include box-shadow;
  }
  .playback-control-wrap {
    @include gradientBar(#fff, #f5f5f5);
    @include box-shadow;
  }
}

.btn-control-wrap {
  width: $btn-state-dim + $btn-seek-dim*2 + 6;
  margin-left: 20px;
  padding: 10px 0;
}

.btn-control {
  display: block;
  float: left;
  margin: 0 1px;
  &.btn-state {
    width: $btn-state-dim;
    height: $btn-state-dim;
    //margin-top: $header-height/2 - $btn-state-dim/2;
    background-image: url(/images/play_button.png);
    &.btn-play {
      background-position: 0 0;
      &:active {
        background-position:-$btn-state-dim 0;
      }
    }
    &.btn-pause {
      background-position: -$btn-state-dim*2 0;
      &:active {
        background-position: -$btn-state-dim*3 0;
      }
    }
  }
  &.btn-seek {
    width: $btn-seek-dim;
    height: $btn-seek-dim;
    margin-top: $btn-state-dim/2 - $btn-seek-dim/2;
    background-image: url(/images/next_button.png);
    &.btn-next {
      background-position: 0 0;
      &:active {
        background-position:-$btn-seek-dim 0;
      }
    }
    &.btn-prev {
      background-position: -$btn-seek-dim*2 0;
      &:active {
        background-position: -$btn-seek-dim*3 0;
      }
    }
  }
}

.content-center-wrap {
  margin-left: $sidebar-width + 1;
}

.content-center {
  text-align: center;
  margin: 80px auto;
  width: 550px;
  h2, h3 {
    font-weight: normal;
    line-height: 1.2em;
  }
  h1 {
    color: red;
    font-size: 40px;
  }
  h2 {
    margin: 15px 0;
    font-size: 26px;
    color: #222;
  }
  h3 {
    font-size: 20px;
    color: #888;
  }
}
