@import "bootstrap/mixins";

body {
  background: #eee url(/images/noise.png) repeat;
}

.content-center {
  text-align: center;
  margin: 120px auto;
  width: 550px;
  h2, h3 {
    font-weight: normal;
    line-height: 1.2em;
  }
  h1 {
    color: red;
    font-size: 40px;
  }
  h2 {
    margin: 15px 0;
    font-size: 26px;
    color: #222;
  }
  h3 {
    font-size: 20px;
    color: #888;
  }
}
